<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>生徒情報登録</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>生徒情報新規登録</h1>
        <form th:action="@{/admin/student/validate-update-input}" method="post" th:object="${studentForm}">
            <table>
                <tr>
                    <th>氏名</th>
                    <td>
                        <input type="text" th:field="*{stName}" />
                        <div th:errors="*{stName}"></div>
                    </td>
                </tr>
                <tr>
                    <th>生年月日</th>
                    <td>
                        <input type="date" th:field="*{stBirth}"/>
                        <div th:errors="*{stBirth}"></div>
                    </td>
                </tr>
                <tr>
                    <th>学校名</th>
                    <td>
                        <input type="text" th:field="*{stSchool}" />
                        <div th:errors="*{stSchool}"></div>
                    </td>
                </tr>
                <tr>
                    <th>所属グループ</th>
                    <td>
                        <input type="text" th:field="*{stGroup}" />
                        <div th:errors="*{stGroup}"></div>
                    </td>
                </tr>
            </table>
            <div>
				<input type="submit" name="新規登録" value="新規登録"/>					
            </div>
            <a th:href="@{/admin/student/display-list}">生徒一覧に戻る</a>
        </form>
    </body>
</html>